.contain-to-grid{
  background-color: #80292F
}
#logo-nav{
  margin-top: 0.4em;
  margin-left: 1em;
  height: 35px;
}
.orbit-container{
  width: 100%;
  height: 493px;
  }
.orbit-slides-container{
  width: 100%;
  height: 493px;
  }
  .orbit-slides-container li{
    width: 100%;
    height: 493px;
    }

.top-bar .toggle-topbar.menu-icon{
  margin-top: -40px;
}

/*    */

.tab-title new_color{
  background-color: transparent;
}
.logo_color{
  color: white;
}
.footer_text{
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  color: white;
  padding: 8px;
}
.footer_social{
  padding-top: 30px;
}
.footer_address_ong{
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  color: white;
}
.footer_img{
  padding-top: -10px;
}
.change_color{
  background: #980e25;
}
.list_top_menu {
  list-style-type : none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list_item_top_menu{
  float: right;
  margin: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  color: white;
}
.top_logo_container{
  margin: 10px;
}
footer {
  background: #980e25;
  padding: 30px;
}
#index_title_top{
	font-family: 'Adamina', serif;
	font-size: 32px;
}
.regular_paragraph{
	font-family: 'Adamina', serif;
	font-size: 17px;
	color: #5c5c5c;
	text-align: justify;
}
.products_description{
  font-family: 'Adamina', serif;
  font-size: 17px;
  color: #5c5c5c;
  text-align: center;
}
.product_title{
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	color: #aa7819;
	text-align: center;
}
.separador_secciones{
  height: 30px;
  background-color: #transparent;
}
.separador_footer{
  height: 25px;
  background-color: transparent;
}
.iconography_title{
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	color: #980e25;
	text-align: center;
}
.iconography_subtitle{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
  padding-top: 40px;
}
.boton_amarillo{
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	background-color: #edb106;
}
.boton_amarillo:hover{
  background-color: #ed7706;
}
.boton_productos{
  background-color: transparent;
  color: #5c5c5c;
  border: 1px solid #ddd;
  width: 100px;
}
.boton_productos:hover{
  background-color: #ddd;
  color: #5c5c5c;
  border: 1px solid #ddd;
}
/* Empiezan estilos de Hover animated service block de productos */
.service {
  width: 100%;
  height: 320px;
  margin: 10px 0;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
 .service .service-icon-box {
    position: relative;
    top: 0;
    display: inline-block;
    margin-bottom: 0px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .service .service-icon-box > img.service-icon {
    width: 40px; }
  .service:hover {
    border-color: #ddd; }
  .service:hover .service-icon-box {
    top: -30px; }
  .service:hover .service-heading {
    top: -30px; }
  .service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
/* Termina estilos de Hover animated service block de productos */

/* Estilos David */

#img{
  margin-left: 170px;
}
.img_1{
  position: relative;
  width: 300px;
  height: 300px;
}
.img_2{
  position: relative;
  margin-left: 10px;
  width: 300px;
  height: 300px;
}
.img_3{
  position: relative;
  margin-left: 10px;
  width: 300px;
  height: 300px;
}
form{
  margin-top: 50px;
}
.top-bar-section li:not(.has-form) a:not(.button){
  background: #80292F;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  color: white;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: #5c0715;
} 
.container_degradado{
  background: #c7b59b;
  width: 100%;
  height: 376px;
  position: relative;
}
#contenido{
  margin-top: 30px;
}
#slider{
  position: relative;
  z-index: -2;
  width: 100%;
}
#slider img{
  width: 100%;
}
.top-bar{
  background-color: #80292F;
}
.elementos_fijos{
  display: block;
  z-index: 1;
  position: absolute;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px; 
  text-align: center;
  margin-top: 6em;
}
#boton_estatico{
  display: block;
  z-index: 1;
  position: absolute;
  text-align: center;

}


/* Estilos Sofi */

.bullets_paragraph{
  font-family: 'Adamina', serif;
  font-size: 17px;
  color: black;
  text-align: justify;
}
#ribbon{
  background-image: url("../images/full_image1.jpg");
  background-size: cover;
  height: 300px;

  margin: 0px;
  width: 100% !important;
  max-width: 100%; 
}
.center_image{
  display: block;
  margin: 35px auto;
}
.boton_rosa{
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  background-color: #ff5ba6;
  display: block;
  margin-top: 15px;
}
.boton_rosa:hover{
  background-color: #b82b6c;
}
#link_magtayani{
  color: #ff5ba6;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}
#link_magtayani:hover{
  color: #b82b6c;
}
.highlight_text{
  margin: 5em 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
.highlight_text2{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #b6631a;
  text-align: center;
}
.highlight_text3{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0px;
  color: #980e25;
  text-align: left;
}

/*Agregado por sofi*/

// Small screens
@media only screen { 



} /* Define mobile styles */

@media only screen and (max-width: 40em) { 

#ribbon{
  background-image: url("../images/full_image2.jpg");
}

.orbit-container{
  width: 100%;
  height: 265px;
  }
.orbit-slides-container{
  width: 100%;
  height: 265px;
  }
  .orbit-slides-container li{
    width: 100%;
  height: 265px;
    }

.elementos_fijos{
  
  margin-top: 1.4em;
}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
